.header {
    @include d-flex(center, center);
    @include shadow-primary;
    height: 8vh;
    position: sticky;
    width: 100%;

    a {
        position: absolute;
        left: 5%;
        font-size: 1rem;
    }
}