@mixin tablet {
	@media screen and (min-width: map-get($breakpoints, tablet)) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: map-get($breakpoints, desktop)) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: map-get($breakpoints, tablet)) {
		@content;
	}
}

@mixin reset-m {
	margin: 0;
}

@mixin reset-m-top {
	margin-top: 0;
}

@mixin reset-m-bottom {
	margin-bottom: 0;
}

@mixin shadow-primary($shadow-size: $shadow-low, $opacity: 1) {
	box-shadow: $shadow-size $shadow-size $shadow-size $shadow-size
		rgba(124, 124, 124, $opacity);
}

@mixin shadow-secondary() {
	box-shadow: 5px 5px 7px -2px lighten(lightgray, $amount: 5);
}

@mixin d-flex(
	$justifycontent: flex-start,
	$alignitems: flex-start,
	$direction: row
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justifycontent;
	align-items: $alignitems;
}

@mixin font-tracking {
	font-size: 1.1rem;
	font-weight: 400;
}

@mixin font-title {
	font-size: 1.6rem;
	font-weight: bold;
}

@mixin font-paragraph {
	font-size: 1.2rem;
}

@mixin btn($padding: 1rem, $background: white, $color: black) {
	color: $color;
	padding: $padding;
	background: $background;
	cursor: pointer;
}

@mixin rounded {
	border-radius: 2rem;
}

@mixin rounded-top {
	border-radius: 2rem 2rem 0 0;
}

@mixin rounded-bottom {
	border-radius: 0 0 2rem 2rem;
}

@mixin semi-rounded {
	border-radius: 1.5rem;
}

@mixin semi-rounded-top {
	border-radius: 1.5rem 1.5rem 0 0;
}

@mixin semi-rounded-bottom {
	border-radius: 0 0 1.5rem 1.5rem;
}
