@mixin shadow-primary {
    box-shadow: $shadow-low $shadow-low $shadow-low $shadow-low rgba(124, 124, 124, 0.28);;
}

@mixin d-flex($justifycontent: flex-start, $alignitems: flex-start, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifycontent;
    align-items: $alignitems;
}